<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>&copy All rights reserved </b>
        <br>Visit my <a href="https://github.com/tafamus41">Github</a> channel
    </p>
</footer>
</body>

</html>