{%- include('components/header') %}

<!-- main start -->
<main class="container">
  <div class="row g-5 d-flex align-items-center justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card" style="max-width: 345px">
        <div class="card-header d-flex justify-content-between">
          <div
            class="avatar"
            style="
              background-color: red;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              color: white;
            "
          >
            MS
          </div>
          <div class="card-title">
            <a
              href="/blog/{%= data._id %}"
              class="link-body-emphasis text-decoration-none fs-5"
              >{%= data.title %}</a
            >
          </div>
          <div aria-label="settings">
            <a href="#" class="material-icons">more_vert</a>
          </div>
        </div>

        <img
          src="{%= data.image %}"
          alt="{%= data.title %}"
          style="height: 194px; width: 100%"
        />

        <div class="card-content">
          <p>{%= data.content.substring(0, 200) %}</p>
        </div>

        <div class="card-actions d-flex justify-content-between">
          <div>
            <button aria-label="add to favorites">
              <i class="material-icons">favorite</i>
            </button>
            <button aria-label="share">
              <i class="material-icons">share</i>
            </button>
          </div>
          <div>
            <button class="expand-more" aria-label="show more">
              <i class="material-icons" onclick="return toggle">expand_more</i>
            </button>
          </div>
        </div>
        {% console.log(toggle); { %}
        <div class="collapse">
          <div class="card-content">
            <h6>Method:</h6>
            <p>
              Heat 1/2 cup of the broth in a pot until simmering, add saffron
              and set aside for 10 minutes.
            </p>
            <!-- Add more method steps here -->
          </div>
        </div>
        {% } %}

      </div>
    </div>
  </div>
</main>
<script>
  const toggle=  function handleToggle() {
        let comment = false;
        return (!comment); // Returns true to proceed, false to cancel
    }
</script>
<!-- main end -->

{%- include('components/footer') %}
