{%- include('components/header') %}
{%- include('components/categories') %}
</div>
<!-- main start -->
<main class="container min-vh-100">
    <div class="row g-5"> 
             
            {%- include('components/blogs') %}
        

            {%- include('components/pagination') %}
        
    </div>
</main>
<script>
    function toggleSection() {
      const content = document.querySelector(".collapse");
      if (content.style.display === "none") {
        content.style.display = "block";
      } else {
        content.style.display = "none";
      }
    }
    function heartBreaker() {
      const likes = document.querySelector(".favorite");
      likes.classList.toggle("text-danger");
    }
    

  </script>
{%- include('components/footer') %}