{%- include('components/header') %}
</div>
<!-- main start -->
<main class="container">
    <div class="row g-5 border border-danger"> 
             
            {%- include('components/blogs') %}
        

            {%- include('components/pagination') %}
        
    </div>
</main>
{%- include('components/footer') %}